bODY {
  font-family: "PT Sans", sans-serif;
  background-color: #16394c;
}

h1 {
  color: #bbbfc3;
  font-size: 32px;
  font-weight: 100;
  line-height: 30px;
  text-align: left;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  color: #bbbfc3;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
li::first-letter {
  text-transform: capitalize;
}

.weather-app {
  border: 1px solid #bbbfc3;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  margin-bottom: 0;
  max-width: 600px;
}
.weather-app-wrapper {
  margin: 0 auto;
  max-width: 600px;
}
.weather-icon {
  position: relative;
  top: -10px;
  height: 64px;
  width: 64px;
}
.weather-forecast {
  color: #bbbfc3;
  text-align: center;
  margin-top: 20px;
}
.weather-forecast .weather-forecast-day {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast .weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.units {
  color: #bbbfc3;
  position: relative;
  top: -30px;
  left: -10px;
}
.temperature {
  color: #dedede;
  font-size: 44px;
  font-weight: 400px;
  line-height: 1;
}

.weather-app .search {
  margin-bottom: 20px;
}
.weather-app .information {
  margin-bottom: 30px;
}
.weather-app .forecast {
  margin-top: 30px;
}
.footnote {
  color: #dedede;
}
